<body class="bg-dark">
  <%= form_with(model: portfolio, local: true) do |form| %>
    <% if portfolio.errors.any? %>
      <div id="error_explanation">
          <% portfolio.errors.full_messages.each do |message| %>
           <div class="alert alert-danger alert-dismissible fade show" role="alert">
             <strong><%= message %></strong>
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           </div>
          <% end %>
      </div>
    <% end %>

    <div class="form-group text-center">
      <%= form.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter a name" %>
    </div>

    <div class="actions">
       <%= form.submit class: 'btn btn-primary btn-block' %>
    </div>
  <% end%>
</body>