<div class="container text-center">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-left">New Portfolio</div>
      <div class="card-body">

            <%= render 'form', portfolio: @portfolio %>

            <%= link_to 'Back', portfolios_path %>
      </div>
    </div>
  </div>
</div>