<body class="bg-dark"> 
  <div class="container text-center">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header text-center "><strong>You added the below portfolio</strong> </div>
        <div class="card-body">

          <p>
            <%= @portfolio.name %>
          </p>

          <%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
          <%= link_to 'Home', portfolios_path %>
        </div>
      </div>
    </div>
  </div>
</body>